---
---

@import "{{ site.theme }}";

body {
  margin: 0 5px !important;
  background: transparent url("../images/background.png") top center !important;
}

.markdown-body {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 3px #000;
  padding: 30px 40px !important;
}

.markdown-body::after {
  display: block;
  content: "";
  background: url("../images/logo.png") no-repeat top right;
  background-size: 50%;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}
